.BoardWrapper {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
    min-height: 75vh;
    /* border: 10px solid #DB8D0D; */
    border-radius: 15px;
    background-color: whitesmoke;
    justify-content: space-between;
    padding: 20px;
    border: 5px solid purple;

}

input {
    display: block;
    max-width: 100%;
    padding: 10px;
    border: 1px solid purple;
}

button {
    width: 350px;
    padding: 10px;
    border: 1px solid purple;
    color: purple;
    font-weight: bolder;
    font-size: 20px;
    background-color: whitesmoke;
    margin: 0 auto;
}